.activity {
    margin-bottom: 1em;
}

.activity-header {
    display: flex;
    flex-direction: row;
}

.activity-assigned-to {
    font-weight: bold;
    margin-right: 1em;
}

.activity-due-date {
    font-weight: lighter;
    margin-right: 1em;
}

.activity-type {
    font-weight: bolder;
    flex: 1;
}

.activity-name {
    margin: 0.5em;
}

.activity-description {
    margin: 0.5em;
}