.task-kanban {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.task-kanban-status {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    align-self: stretch;
}

.task-kanban-status-body {
    height: 100%;
}

.task-kanban-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    cursor: pointer;
}