.task-kanban {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.task-kanban-status {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-self: stretch;
    min-width: 15em;
}

.task-kanban-status-header {
    display: flex;
    flex-direction: row;
}

.task-kanban-status-name {
    align-self: center;
    flex: 1.0;
    margin-bottom: 0;
}

.task-kanban-status-body {
    height: 100%;
}

.task-kanban-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    cursor: pointer;
}

.task-kanban-card-tag {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}