.comments-header {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #ccc;
}

.comments-author {
    font-weight: bold;
    margin-right: 1em;
}

.comments-time {
    font-weight: lighter;
    flex: 1;
}

.comments-message {
    margin-top: 1em;
    margin-bottom: 1em;
}