.shift-dashboard {
}

.shift-dashboard-templates {
    display: flex;
}
.shift-dashboard-template {
    margin: var(--border-comp-vert-padding) var(--border-comp-horz-padding)
}
.shift-dashboard-table {
}

.shift-dashboard-header {
}

.shift-dashboard-header-employee {
}

.shift-dashboard-header-cell {
}

.shift-dashboard-row {
}

.shift-dashboard-row-employee {
    height: 3em;
}

.shift-dashboard-row-cell {
    display: flex;
    flex-direction: column;
}

td.shift-dashboard-row-sunday {
    background-color: #ffcccc;
}

.shift-dashboard-cell-shift {
    margin-bottom: 0.25rem;
}

td.shift-dashboard-drag-over {
    background-color: lightgrey;
}